.shape {
  height: 0;
  width: 0;
  border-bottom: 30px solid black;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
}

@media (max-width: 1200px) {
  .shape {
    border-bottom-color: red;
  }
}

@media (max-width: 767px) {
  .shape {
    border-bottom-color: green;
  }
}
